//custom.scss

.card {
    max-width: 400px;
    margin: 0 auto;
}

.invalid-feedback {
    display: block;
}

.marginT {
    margin-top: 10px;
}

.errorMessage {
    font-weight: bold;
    color: darkred;
}

.newAccountMessage {
    font-weight: bold;
    color: green;
}

.map {
    height: 75%;
}

.marginTMap {
    margin-top: 3rem !important;
}

.cardWidth {
    width: 400px;
}

.cardHeight {
    min-height: 300px;
}

.error404 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: red;
    font-size: 50px;
}

.width100 {
    max-width: 100%;
}

.widthAuto {
    width: auto !important;
}

.footer {
    position: relative;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

.container {
    min-height: 55vh;
    margin-bottom: 10rem;
}

.pending{
    color: #0075fc;
}

.accepted{
    color: #00a600;
}

.refused{
    color: #ff0000;
}

.cardBackground{
    background-color: #f1eded;
}

.cardEventAuthor {
    max-height: 8rem; 
    min-height: 8rem;
    margin-bottom: 2rem;
}

.cardEventParticipant {
    max-height: 20rem; 
    min-height: 20rem;
}

.row {
    margin-left: 0 !important;
}

.homeText{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;


}



@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.addButton{
    border-radius: 0%;
}