//custom.scss
@import "../node_modules/bootstrap/scss/functions";

.card {
    max-width: 400px;
    margin: 0 auto;
}

.invalid-feedback {
    display: block;
}

.marginT {
    margin-top: 10px;
}

.errorMessage {
    font-weight: bold;
    color: darkred;
}

.newAccountMessage {
    font-weight: bold;
    color: green;
}

.map {
    height: 75%;
}

.marginTMap {
    margin-top: 3rem !important;
}

.cardminWidth {
    min-width: 400px;
}

.cardHeight {
    height: 300px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }

.error404 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: red;
    font-size: 50px;
}


@import "../node_modules/bootstrap/scss/bootstrap";